@charset "utf-8";
/* CSS Document */
body{background: url("Images/kittypaw.jpg")}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #D08253;
    padding: 15px;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-list li {
    margin-right: 20px;
}

.nav-list a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.nav-list a:hover {
    background-color:rgba(234,154,76,1.00);
}

.section1{margin: 0 auto; background:rgba(239,179,139,1.00); width: 1000px; height: 1000px; padding-top: 10px}

.flexbox1{dispaly; flex; background: rgba(215,112,109,1.00); width: 900px; height: 900px; margin: 0 auto}
